.main {
    width: 20vw;
}

.choice {
    background: green;
    border-radius: 12px;
    width: 110px;
    color: white;
    border: none;
    padding: 6px;
    height: 30px;
    margin: 10px;
    font-size: 1rem;
}

.svg-inline--fa {
    color: #292929;
    margin-left: 4px;
}