.smallProfile {
    position: "absolute";
    top: "2vh";
    right: "3vw";
    height: "60px";
    width: "60px"
}

.header {
    width: "100vw";
    min-height: "100vh";
    background: "black";
    overflow-x: "hidden"
}

.app {
    color: "green";
    font-size: "3rem";
    margin: "1vw"
}

.yourChoice {
    color: "white";
    font-size: "2rem";
    margin: "3vw"
}

;